* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h2 {
  color: #002d73;
  text-transform: uppercase;
  font-weight: 400;
  margin: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.logo img {
  width: 200px;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.main-nav ul li {
  padding: 15px 0;
}
.main-nav ul li .active {
  background-color: #b2e5fc;
}
.main-nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 22px;
  padding: 15px;
}

main {
  padding: 20px 0;
  background-image: url("../images/fondo-pag-speciali.jpg");
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  width: calc((100% / 3) - 20px);
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .cards .card {
    width: calc((100% / 2) - 20px);
  }
}
@media screen and (max-width: 465px) {
  .cards .card {
    width: calc(100% - 20px);
  }
}
.cards .card img {
  width: 100%;
}

.prodotto {
  background-color: #BCDDE7;
  color: #002d73;
  padding: 40px 50px;
  position: relative;
}
.prodotto h1 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.prodotto img {
  width: 100%;
}

.arrow {
  background-color: rgba(255, 255, 255, 0.335);
  border-radius: 5px;
  padding: 20px 10px;
  position: absolute;
}
.arrow.left {
  left: 0;
  top: 50%;
}
.arrow.right {
  right: 0;
  top: 50%;
}
.arrow i {
  font-size: 60px;
  color: #fff;
}
