main {
    padding: 20px 0;
    background-image: url("../images/fondo-pag-speciali.jpg");
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;

    .card {
        width: calc((100% / 3) - 20px);
        margin: 10px;
        img {
            width: 100%;
        }
    }
}