main {
    padding: 20px 0;
    background-image: url("../images/fondo-pag-speciali.jpg");
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;

    .card {
        width: calc((100% / 3) - 20px);
        margin: 10px;

        @media screen and (max-width: 768px) {
            width: calc((100% / 2) - 20px);
        }

        @media screen and (max-width: 465px) {
            width: calc(100% - 20px);
        }

        img {
            width: 100%;
        }
    }
}